# Python
__pycache__/
*.py[cod]
*$py.class
venv/
.env
.env.local

# Docker
.dockerignore

# Database
postgres_data/

# Alembic
backend/migrations/versions/*.pyc

# OS
.DS_Store
Thumbs.db

# Frontend
node_modules/
.next/