services:
  db:
    image: postgres:16
    env_file: .env
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  backend:
    build:
      context: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
    working_dir: /app
    env_file: .env
    command:
      sh -c "python -m db.database && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"
    

volumes:
  postgres_data:
