# docker-compose.yml

services:
  db:
    image: postgres:16
    env_file: .env
    ports:
      - "5431:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    
    healthcheck:
      # Use -d to specify "mydatabase" from your .env
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 5s
      timeout: 5s
      retries: 5

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
      
  backend:
    build:
      context: ./backend
    volumes:
      - ./backend:/app
    ports:
      - "8000:8000"
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started 
    working_dir: /app
    env_file: .env
    # This command will now only run once the DB is healthy
    command:
      sh -c "alembic upgrade head && uvicorn main:app --host 0.0.0.0 --port 8000 --reload"

  worker:
    build:
      context: ./backend
    volumes:
      - ./backend:/app
    env_file: .env
    depends_on:
      db:
        condition: service_healthy
      redis:
        condition: service_started
    command: celery -A tasks.celery_app worker --loglevel=info

volumes:
  postgres_data: