google-api-python-client
google-auth-httplib2
google-auth-oauthlib

google-auth
oauth2client
python-dotenv
email-validator
nltk
spacy
torch

fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose>=3.0.0
parse