google-api-python-client
google-auth-httplib2
google-auth-oauthlib

pydantic
sqlalchemy

google-auth
oauth2client
python-dotenv
email-validator

fastapi[all]
authlib
uvicorn
psycopg2-binary
python-decouple
itsdangerous
parse


python-jose[cryptography]
cryptography