pandas
fsspec
ipywidgets
dotenv
google-genai
tqdm

# Active learning library
scikit-activeml[opt]

# For importing personal test data
mailbox

# Parsing data
beautifulsoup4

# Model Training
huggingface_hub
datasets
evaluate  
timm
transformers
accelerate>=1.1.0

# PEFT
peft

# Experiment Tracking
mlflow

# PII Masking
presidio-analyzer
presidio-anonymizer
spacy