pandas
fsspec
ipywidgets
dotenv
google-genai
tqdm

# Active learning library
scikit-activeml[opt]

# For importing personal test data
mailbox

# Parsing data
beautifulsoup4

# Pre-trained Models
huggingface_hub
datasets
evaluate  
timm
transformers
accelerate>=1.1.0

# PEFT
peft

# PII Masking
presidio-analyzer
presidio-anonymizer
spacy